.logo_container{
    width: auto;
    display: inline-flex;
    align-items: center;
    gap: 4.7px;
}

.f_logo_container{
    width: 34px;
    height: 41px;
    border-radius: 8px;
    background-color: var(--PRIMARY_COLOR);

    display: flex;
    justify-content: center;
    align-items: center;
}

.f_logo{
    width: 18.45px;
    height: 23.96px;
}

.oodi_logo{
    width: 70.19px;
    height: 22.84px;
}