button{
    border: none;
    height: 80px;
    border-radius: 40px;
    background-color: var(--PRIMARY_COLOR);
    color: var(--WHITE);
    font-weight: var(--FONT_REGULAR);
    font-size: 26px;
    cursor: pointer;
}

button:active{
    opacity: .6;
}

.with_shadow{
    box-shadow: -2px 22px 38px #8EFF9A;
}